# 1. Named Entity Recognition (NER)

Named entity recognition (NER) task aims at identifying real-world entities, such as names of people, organizations, and locations within historical documents.

### (a) The Importance of Named Entities and Case Studies

The detection of entities can be considered as a first step in the exploration of data collections. They can be extremely valuable to researchers. For example, a simple keyword search can already provide a historian with a sense of whether a collection contains material relevant for their research, thus saving many hours of visiting archives and skimming through pages.

In [2]:
#Focusing on named entities
#What is a named entity, and why does it matter ?
#Automatic named entity recognition (NER)
#General principles (ML, training data, etc)
#State of the Art examples (list of SotA papers)
#Entity linking
#Use-case (mapping locations on a map)

Named entities are generally proper nouns that refer to specific entities that can be a person, organization, location, date, etc. Consider this example – *Mount Everest is the tallest mountain above sea level*. Here *Mount Everest* is a named entity of type location as it refers to a specific entity.

Some other examples of named entities are listed below in the table.


|  | Named Entity  |  
|-----|---|
|  ORGANIZATION   | United Nations Organization, UNICEF, Microsoft |
|  PERSON   | Novak Djokovic, Beyoncé, Scarlett Johansson |
|  LOCATION   |  Mount Everest, River Nile, Machu Picchu Archaeological Park  |
|  DATE   |  3rd April 1988, 7 June  |
|  TIME   | 8:45 A.M., one-thirty am |
|  GPE   |  France, Liechtenstein, Democratic Republic of Congo |
|  MONEY   |  7 million dollars, 73.01 INR |

### i. NER using [NLTK](https://www.nltk.org/)

In [4]:
def ie_preprocess(document):
    sentences = nltk.sent_tokenize(document)
    sentences = [nltk.word_tokenize(sent) for sent in sentences]
    sentences = [nltk.pos_tag(sent) for sent in sentences]
    sentences = [nltk.ne_chunk(sent) for sent in sentences]
    return sentences